<%-include('./partials/head'); %>
<div class="container back-grey m-3 p-3">
    <h1 class="blue m-2">Ingrese Producto</h1>
    <div class="m-4">
        <form method="post">
            <div class="mb-3">
                <label for="title" class="form-label"><i><strong>Nombre</strong></i></label>
                <input type="text" class="form-control" id="nombre" name="title">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label"><i><strong>Precio</strong></i></label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="0" step="0.01" class="form-control" name="price">
                </div>
            </div>
            <div class="mb-3">
                <label for="thumbnail" class="form-label"><i><strong>Foto URL</strong></i></label>
                <input type="text" class="form-control" id="nombre" name="thumbnail">
            </div>
            <button type="submit" class="btn btn-success"><strong>Enviar</strong></button>
        </form>
        <div class="mt-3">
            <a href="/productos">
                <button class="btn btn-primary"><strong>Lista de Productos</strong></button>
            </a>
        </div>
    </div>
</div>
<%-include('./partials/footer'); %>